@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open-Sans, sans-serif;
}

:root {
  --texto: #110e0e;
  --enlace: rgb(71, 28, 168);
  --link-active: #471ca8;
  --link-hover: #6f42c1;
  --bs-border-radius: 1.15rem;
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(221, 141, 208),
    rgb(115, 191, 204)
  );
  color: var(--texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}

.navbar {
  background-color: #5d0188;
}

.navbar-collapse {
  background-color: #5d0188;
}

.nav-pills .nav-item .nav-link {
  color: #fff;
  padding: 0.6rem;
}

.nav-pills .nav-link.active {
  background-color: var(--link-hover);
}

.btn-primary {
  background-color: #5d0188;
  border: none;
  border-radius: 2rem;
  transition: transform 0.2s;
  width: 100%;
}

.btn-light {
  border-radius: 2rem;
  width: 100%;
}

.form-control {
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
}

.btn-primary:hover,
:not(.btn-check).btn:active {
  background-color: #450463;
  border: none;
}

.btn:focus-visible {
  background-color: #450463;
}

.my-btn {
  --bs-btn-active-bg: #450463;
  --bs-btn-hover-bg: #450463;
}

/* header */

header h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

/* main */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--enlace);
}

.style-none {
  text-decoration: none;
}

/* footer */
footer p {
  text-align: center;
}

.navbar footer img {
  width: 24px;
}
