@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open-Sans, sans-serif;
}

:root {
  --texto: #110e0e;
  --enlace: rgb(71, 28, 168);
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(221, 141, 208),
    rgb(115, 191, 204)
  );
  color: var(--texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}

.btn-primary {
  background-color: #5d0188;
  border: none;
  border-radius: 2rem;
  transition: transform 0.2s;
  width: 100%;
}

.btn-light {
  border-radius: 2rem;
  width: 100%;
}

.form-control {
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
}

.btn-primary:hover {
  background-color: #450463;
  border: none;
}

.my-btn {
  --bs-btn-active-bg: #450463;
  --bs-btn-hover-bg: #450463;
}

/* header */

header h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

/* main */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--enlace);
}

.style-none {
  text-decoration: none;
}

/* footer */
footer p {
  text-align: center;
}
